@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    margin: 25px;
    flex-wrap: wrap;
}

/** side content **/
/**rgba(0, 0, 27, 0.897);**/
.one-quarter-row{
    width: 25%;
    background-color: rgb(37, 37, 73);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: none;
    height: max-content;
}

form{
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.search-bar{
    margin: 15px;
    border: none;
    width: 90%;
    height: 10%;
    display: flex;
}

.search-bar input{
    width: 70%;
    height: 20px;
    background-color: rgba(224, 216, 216, 0.521);
    color: white !important;
}

input::placeholder{
    padding-left: 15px;
    text-align: center;
    font-size: 12px;
    font-family: 'Raleway';
    color: rgba(219, 219, 219, 0.808);
}

.cloud-image{
   max-width: 100%;
   width: 60%;
   margin: 40px 80px 40px 80px;
}

.temperature{
    text-align: center;
    padding: 15% 25%;
}

.temp-number{
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 120px;
    line-height: 0;
}

.temp-symbol{
    font-size: 60px;
    color: rgba(219, 219, 219, 0.808) !important;
    font-weight: normal;
    text-shadow: 10px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.temp-description{
    line-height: 0;
    margin: 15% 25% 0 25%;
    text-align: center;
    color: rgba(219, 219, 219, 0.808);
    font-weight: 650;
    font-size: 1.32rem;
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.weather-date{
    margin-top: 15%;
    text-align: center;
    font-size: 12px;
    color: rgba(219, 219, 219, 0.808);
    word-spacing: 1.75px;
}

sup{
    vertical-align: top;
    font-weight: bolder;
}

.weather-location{
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 11px;
    color:rgba(219, 219, 219, 0.808);
    font-family: 'Raleway' system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu;
    line-height: 0;
}

.locator-icon{
    margin-top: 10px;
}
/**end of side content**/


/** main content **/
.two-third-row{
    width: 70%;
    background-color: rgba(0, 0, 27, 0.959);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-content{
    margin: 20px 30px 20px 30px;
    color: white;
    /**display: block (in order to make the sections dropdown*/
    display: block;
}

.degree-icon{
    margin-right: 5px;
    margin-top: 13px;
    margin-bottom: 5px;
    display: flex;
    margin-left: 15px;
    justify-content: right;
}

.celsius-icon{
    background: fixed;
    background-color: rgba(219, 219, 219, 0.808);
    border-radius: 50%;
    align-items: center;
    padding: 4px;    
    border-style: hidden;
    margin: 0 10px 0 0;
    line-height: 0;
    cursor: pointer;
}

.fahrenheit-icon{
    background: fixed;
    background-color: rgb(37, 37, 73);
    border-radius: 50%;
    align-items: center;
    padding: 4px;    
    border-style: hidden;
    margin: 0 5px 0 0 ;
    line-height: 0;
    cursor: pointer;
}

.weekly-forecast{
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.day1, .day2, .day3, .day4, .day5{
    background-color: rgb(37, 37, 73);
    width: 15%;
    padding: 0;
    text-align: center;
    margin: 20px;
}

.weekly-weather{
    width: 60%;
    margin-top: 10px;
}

.morning-temp{
    padding-top: 10px;
    text-align: left;
    padding-left: 20px;
    padding-right: 0;
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
.afternoon-temp{
    text-align: left;
    padding-left: 35px;
    padding-right: 0;
    color:rgba(219, 219, 219, 0.808) !important;
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.highlights{
    margin-top: 30px;
    margin-left: 10px;
    font-weight: bold;
    font-size: larger;
    line-height: 0.5;
}

.highlights-content{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 120px;
}

.highlight-header{
    margin-top: 10px;
}

.highlight-info-top{
    text-align: center;
    width: 50%;
    margin: 10px 40px 0 40px;
    background-color: rgb(37, 37, 73);
    font-weight: normal;
    font-size: small;
    color: rgba(219, 219, 219, 0.808);
    height: 100%;
}

.wind-value{
    font-weight: bolder;
    color: white;
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

.wind-unit{
     color: rgba(219, 219, 219, 0.808) !important;
     font-size: xx-large;
     font-weight: normal;
     margin-top: 0;
     padding: 0;
}

.humidity-value{
    font-weight: bolder;
    color: white;
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

.humidity-unit{
    color: rgba(219, 219, 219, 0.808) !important;
     font-size: xx-large;
     font-weight: normal;
     margin-top: 0;
     padding: 0;
}

.highlight-info-bottom{
    text-align: center;
    width: 50%;
    margin: 10px 40px 5px 40px;
    background-color: rgb(37, 37, 73);
    font-weight: normal;
    font-size: small;
    color: rgba(219, 219, 219, 0.808);
    height: 100%;
}

.visibility-value{
    font-weight: bolder;
    color: white;
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding-bottom: 0
}

.visibility-unit{
    color: rgba(219, 219, 219, 0.808) !important;
     font-size: xx-large;
     font-weight: normal;
     margin-top: 0;
     padding: 0;
}

.airpressure-value{
    font-weight: bolder;
    color: white;
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

.airpressure-unit{
    color: rgba(219, 219, 219, 0.808) !important;
     font-size: xx-large;
     font-weight: normal;
     margin-top: 0;
     padding: 0;
}

footer{
    padding-top: 20px;
    margin-top: 25px;
    text-align: center;
    font-family: 'Raleway', sans-serif, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: small;
    color: rgba(219, 219, 219, 0.808);
}

@media only screen and (max-width: 1080px) {
    .container{
        width: 100%;
        margin: 20px;
    }

    .cloud-image{
        width: 60%;
        margin-left: 50px;
    }
    
    .temperature{
        margin: 0;
        padding: 45px;
    }

    .main-content{
        margin: 10px;
    }

    .day1, .day2, .day3, .day4, .day5{
        margin: 10px;
        padding: 0;
        width: 30%;
    }

    .highlights-content{
        margin: 10px;
    }
    
    .highlight-info-bottom{
        margin-top: 0;
    }

    footer{
        padding: 5px;
    }
}

@media only screen and (max-width: 800px) {
    input::placeholder{
        font-size: 10px;
    }

    .one-quarter-row{
        width: 30%;
    }

    .cloud-image{
        width: 70%;
        margin-left: 40px;
    }

    .temperature{
        margin-left: -15px;
    }

    .weekly-forecast{
        font-size: 14px;
    }

    .morning-temp, .afternoon-temp{
        padding: 5px;
    }

    .main-content{
        margin-bottom: 0
    }

    footer{
        padding: 35px 0 0 0;
    }
    


}

@media only screen and (max-width: 620px) {
    .container{
        width: 100%;
        margin-left: 0;
    }

    .one-quarter-row{
        width: 35%;
        height: auto;
    }

    .search-bar{
        margin: 10px;
    }

    input::placeholder{
        font-size: 9px;
        padding-left: 5px;
        margin: 0;
    }

    .cloud-image{
        width: 80%;
        margin-left: 15px;
    }

    .temperature{
        margin: 0;
        padding: 50px;
        padding-left: 5px;
    }

    .temp-number{
        font-size: 100px;
    }
    
    .temp-symbol{
        font-size: 40px;
    }

    .temp-description{
        padding-top: 10px;
    }
    .weather-date{
        padding-top: 20px;
    }

    .two-third-row{
        width: 65%;
    }

    .main-content{
        margin: 0;
    }
    
   .celsius-deg{
        width: auto;
        height: auto;
    }

    .fahrenheit-deg{
        width: 15px;
        height: auto;
    }

    .weekly-forecast{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 20px;
    }

    .day1, .day2, .day3, .day4 {
        width: 35%;
        margin: 10px;
    }

    .weekly-weather{
        width: 30%;
    }

    .day5{
        display: none;
    }

    .morning-temp, .afternoon-temp{
        text-align: center;
        padding: 0 10px 0 10px ;
    }

    .highlight-text{
        font-size: 15px;
    }

    .highlights-content{
        display: flex;
        width: 100%;
        margin-bottom: 10px;
        margin-left: 5px;
        height: fit-content;
    }

    .highlight-info-top, .highlight-info-bottom{
        margin: 2px;
        width: 60%;
        margin-right: 10px;
        overflow: visible;
        height: fit-content;
        padding-bottom: 20px;
    }

    .wind-value, .humidity-value, .visibility-value,
    .airpressure-value{
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 0;

    }

    .wind-unit, .humidity-unit, .visibility-unit,
    .airpressure-unit{
        font-size: 25px;
    }

    footer{
        padding: 0;
        font-size: 11px;
    }
}

@media only screen and (max-width: 400px) {
    .container{
        width: 99%;
        margin-left: 3px;
    }
    .one-quarter-row{
        width: 40%;
        overflow: hidden;
    }
    .two-third-row{
        width: 59%
    }
    .search-bar{
        margin: 5px;
    }
    .icon-class{
        width: 20%;
    }
    .icon-class>img{
        height: 15px;
        width: 15px;
        float: right;
        margin-top: 3px;
    }

    input::placeholder{
        font-size: 8px;
        margin: 0;
        padding-left: 2px;
    }

    .cloud-image{
        width: 90%;
        margin-left: 5px;
    }

    .temp-number{
        font-size: 80px;
    }
    
    .temp-symbol{
       font-size: 35px;
    }

    .weekly-forecast{
     margin-top: 5px;
     margin-left: 0;
    }

    .day1, .day2{
       width: 100%;
       margin: 5px 30px 5px 30px;
    }

    .day3, .day4, .day5{
        display: none;
    }

    .weekly-weather{
        margin: 5px 0 0 0 ;
    }

    .morning-temp, .afternoon-temp{
        padding: 0 20px;
    }

    .afternoon-temp{
        padding-left: 30px;
        padding-right: 0;
    }

    .highlight-text{
        font-size: 12px;
    }

    .wind-value, .humidity-value, .visibility-value,
    .airpressure-value{
       font-size: 25px;
    }

    .wind-unit, .humidity-unit, .visibility-unit,
    .airpressure-unit{
       font-size: 15px;
    }

    footer{
        font-size: 8px;
    
    }
}

@media only screen and (max-width: 310px) {
    .morning-temp, .afternoon-temp{
        padding: 0 10px;
    }
    .weather-location{
        padding-bottom: 20px;
    }
}
