@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 720px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/**rgba(0, 0, 27, 0.897);**/
.one-quarter-row{
    width: 25%;
    background-color: rgba(56, 56, 100);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;

} 

.search-bar{
    border: none;
    margin: 15px 0 0 15px;
    display: flex;
    flex-direction: row;
}

.search-bar input{
    width: 120px;
    height: 20px;
    background-color: rgba(224, 216, 216, 0.521);
    color: white !important;
}

input::placeholder{
    padding-left: 4px;
    font-size: 12px;
    font-family: 'Raleway';
    color: rgba(219, 219, 219, 0.808);
}

.cloud-image{
    margin: 100px 0 0 50px;
    justify-items: center;
    display: flex;
    flex-direction: column;
}

.temperature{
    text-align: center;
}

.temp-number{
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 100px;
    line-height: 0;
    margin-bottom: 70px;
}

.temp-symbol{
    font-size: 45px;
    color: rgba(219, 219, 219, 0.808) !important;
    font-weight: normal;
    text-shadow: 10px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.temp-description{
    line-height: 0;
    margin-top: 13vh;
    margin-bottom: 0;
    text-align: center;
    color: rgba(219, 219, 219, 0.808);
    font-weight: 650;
    font-size: 1.32rem;
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.weather-date{
    margin-top: 8vh;
    text-align: center;
    font-size: 12px;
    color: rgba(219, 219, 219, 0.808);
    word-spacing: 1.75px;
}

sup{
    vertical-align: top;
    font-weight: bolder;
}

.weather-location{
    margin-top: 25px;
    margin-bottom: 13px;
    text-align: center;
    font-size: 11px;
    color:rgba(219, 219, 219, 0.808);
    font-family: 'Raleway' system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu;
}

.two-third-row{
    width: 75%;
    background-color: rgba(0, 0, 27, 0.959);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-content{
    margin: 20px 100px 20px 100px;
    color: white;
    /**display: block (in order to make the sections dropdown*/
    display: block;
}

.degree-icon{
    margin-right: 5px;
    margin-top: 13px;
    margin-bottom: 5px;
    background-color: white;
    color: blue;
    margin-left: 15px;
}

.weekly-forecast{
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.day1, .day2, .day3, .day4, .day5{
    background-color: rgb(56, 56, 100);
    width: 20%;
    padding: 0;
    text-align: center;
    margin: 10px;
}

.weekly-weather{
    width: 45%;
}

.morning-temp{
    text-align: left;
    padding-left: 38px;
    padding-right: 0;
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
.afternoon-temp{
    text-align: left;
    padding-left: 25px;
    padding-right: 0;
    color:rgba(219, 219, 219, 0.808) !important;
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.highlights{
    padding-top: 15px;
    margin-left: 10px;
    font-weight: bold;
    font-size: larger;
}

.highlights-content{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.highlight-info-top{
    text-align: center;
    width: 45%;
    margin: 10px 40px 0 40px;
    background-color: rgb(56, 56, 100);
    font-weight: normal;
    font-size: small;
    color: rgba(219, 219, 219, 0.808);
}

.wind-value{
    font-weight: bolder;
    color: white;
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    line-height: 0;
}

.wind-unit{
     color: rgba(219, 219, 219, 0.808) !important;
     font-size: xx-large;
     font-weight: normal;
     margin-top: 0;
     padding: 0;
     line-height: 0;
}

.humidity-value{
    font-weight: bolder;
    color: white;
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    line-height: 0;
}

.humidity-unit{
    color: rgba(219, 219, 219, 0.808) !important;
     font-size: xx-large;
     font-weight: normal;
     margin-top: 0;
     padding: 0;
     line-height: 0;
}

.highlight-info-bottom{
    text-align: center;
    width: 45%;
    margin: 10px 40px 0 40px;
    background-color: rgb(56, 56, 100);
    font-weight: normal;
    font-size: small;
    color: rgba(219, 219, 219, 0.808);
}

.visibility-value{
    font-weight: bolder;
    color: white;
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    line-height: 0;
}

.visibility-unit{
    color: rgba(219, 219, 219, 0.808) !important;
     font-size: xx-large;
     font-weight: normal;
     margin-top: 0;
     padding: 0;
     line-height: 0;
}

.airpressure-value{
    font-weight: bolder;
    color: white;
    font-family: 'Raleway', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    line-height: 0;
}

.airpressure-unit{
    color: rgba(219, 219, 219, 0.808) !important;
     font-size: xx-large;
     font-weight: normal;
     margin-top: 0;
     padding: 0;
     line-height: 0;
}

footer{
    padding-top: 30px;
    text-align: center;
    font-family: 'Raleway', sans-serif, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: small;
    color: rgba(219, 219, 219, 0.808);
}